.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #828282;
}

a:hover {
  color: #2a7b43;
}

.product-item {
  display: none;
}

.product:hover .product-item {
  display: block;
}

/* logo */
.logo {
  margin-left: 8px;
}

.letter {
  transition: 0.2s;
  transform: translateX(0);
  cursor: grab;
}

.letter:hover {
  transform: translateY(-0.5rem);
}

.logo .letter {
  color: #474646;
  font-size: 30px;
  background: -webkit-linear-gradient(120deg, hsl(107, 80%, 60%), hsl(68, 68%, 58%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lua {
  width: 150px;
  position: absolute;
  right: 22%;
}

.hc:hover {
  box-shadow: 1px -0.5px 10px #2a7b43;
  cursor: pointer;
}

.image-container {

  height: 570px;
  background: url('https://theme.hstatic.net/200000781541/1001126077/14/slideshow_1.jpg?v=106') no-repeat center;
  background-size: contain;

}

.category p.active {
  color: red;
  font-weight: bold;
}

.category p {
  cursor: pointer;

}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.circle {
  border: 2px solid #82d461 !important;
  position: absolute;
  border-radius: 92% 110% 132% 88%;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}

.circle:nth-child(1) {


  animation: spin1 6s linear infinite;
}

@keyframes spin1 {
  0% {

    transform: rotate(0);
  }

  100% {

    transform: rotate(360deg);
  }
}

.new-child {
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.new-child:hover {

  box-shadow: 0 8px 15px rgba(112, 112, 112, 0.2);

}

/* search */
.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
}

.search-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 1s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  padding: 5px;
}

.search-container:hover .search-box {
  opacity: 1;
  z-index: 1000;
  visibility: visible;

}

.search-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-button {
  padding: 8px 15px;
  border: none;
  background-color: #1aa623;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #037918;
}

/* user */
.user-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
}

.user-box {
  position: absolute;
  top: 22px;
  /* Đẩy khung xuống dưới icon */
  right: 0;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.user-container:hover .user-box {
  opacity: 1;
  z-index: 1000;
  visibility: visible;
  transform: translateY(0);
}

.user-box p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.user-box ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.user-box ul li {
  margin: 5px 0;
}

.user-box ul li a {
  text-decoration: none;
  color: #868686;
  font-size: 16px;
  transition: color 0.3s ease;
}

.user-box ul li a:hover {
  color: #05742e;
}

.icon:hover {
  cursor: pointer;
}

/* product */
.darkened-div {
  position: relative;
  width: 100%;
  height: 200px;
  background: url('https://theme.hstatic.net/1000271724/1000376256/14/breacrumb_banner.jpg?v=88') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* Màu chữ trắng để nổi bật */

  text-align: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu đen với độ mờ 50% */
  z-index: 1;
  /* Đảm bảo overlay nằm trên background */
}

.darkened-div p,
.darkened-div h4 {
  position: relative;
  z-index: 2;
  /* Đảm bảo chữ nằm trên overlay */
}

.category li {
  margin-top: 8px;
}

.active {
  color: rgb(15, 154, 52);

}

.product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.hover-actions {
  position: absolute;
  bottom: 100px;
  left: 20%;
  width: 100%;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 2s ease, transform 2s ease;
}


.product-card:hover .hover-actions {
  opacity: 1;
  transform: translateY(0);
}

.product-card .hover-actions button:hover {
  background-color: #fff;
  color: green;
}

.form-popup {
  position: fixed;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 400px;
  transform: translateY(-100px);
  /* Vị trí ban đầu của khung */
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark background with opacity */
  z-index: 9;
}

.slide-in {
  visibility: visible;
  opacity: 1;
  animation: slideDown 2s ease-out forwards;
}

/* Khi modal ẩn đi */
.slide-out {
  visibility: hidden;
  opacity: 0;
}

/* Nội dung modal */

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.check:hover {
  color: #1aa623;
  cursor: pointer;
}

.km img:hover {
  transition: transform 1s ease;
  transform: scale(1.1);
}

.km {
  position: relative;
  overflow: hidden;
}

td {
  vertical-align: middle;

}